# Diccionarios

Son onjetos en Python que se crean como sigue:

$$\{\text{key}:\text{value}\} $$

¿Porqué son importantes?

Son el análogo de JSON.

In [1]:
{}

{}

In [2]:
type({})

dict

In [3]:
type({1})

set

In [6]:
S_1 = {1,2,3}
S_2 = {4}

S_1.intersection(S_2)

set()

In [7]:
S_1.union(S_2)

{1, 2, 3, 4}

In [10]:
# Vamos a crear nuestro primer diccionario
# Clientes de una cafetería

Clientes = {"Id": 23,
           "Nombre": "Cesar",
           "Tipo": "Americano"}

In [11]:
type(Clientes)

dict

### Atributos

- "Lista" de las llaves
- "Lista" de los valores
- "Lista" de los elementos de un diccionario

In [13]:
Clientes.keys()[0]

TypeError: 'dict_keys' object is not subscriptable

In [14]:
type(Clientes.keys())

dict_keys

In [15]:
# Aquí hacemos una conversión del objeto llamado dict_keys a una lista

list(Clientes.keys())[0]

'Id'

In [17]:
Clientes.values()

dict_values([23, 'Cesar', 'Americano'])

In [18]:
Clientes.items()

dict_items([('Id', 23), ('Nombre', 'Cesar'), ('Tipo', 'Americano')])

In [19]:
list(Clientes.items())

[('Id', 23), ('Nombre', 'Cesar'), ('Tipo', 'Americano')]

In [23]:
Clientes.popitem()

KeyError: 'popitem(): dictionary is empty'

In [25]:
Clientes = {"Id": [1,2,3,4,5],
            "Nombre": ["Cesar","Areli","Claudia","Juan","Luis"],
            "Tipo": ["Americano","Latte","Espresso","Capuccino","Ollita"]}

In [26]:
Clientes

{'Id': [1, 2, 3, 4, 5],
 'Nombre': ['Cesar', 'Areli', 'Claudia', 'Juan', 'Luis'],
 'Tipo': ['Americano', 'Latte', 'Espresso', 'Capuccino', 'Ollita']}

# El módulo Pandas (Panel Data)

- DataFrame
- read_csv

In [31]:
import pandas as pd
import numpy as np

In [29]:
df = pd.DataFrame(Clientes)
df

   Id   Nombre       Tipo
0   1    Cesar  Americano
1   2    Areli      Latte
2   3  Claudia   Espresso
3   4     Juan  Capuccino
4   5     Luis     Ollita

In [30]:
type(df)

pandas.core.frame.DataFrame

In [35]:
data = np.array([(1,2,3),(4,5,6),(7,8,9)],
                dtype=[("a","i4"),("b","i4"),("c","i4")])
df3 = pd.DataFrame(data,columns=['c','a'])
df3

   c  a
0  3  1
1  6  4
2  9  7

In [33]:
data = np.array([(1,2,3),(4,5,6),(7,8,9)],
                dtype=[("a","i4"),("b","i4"),("c","i4")])
data

array([(1, 2, 3), (4, 5, 6), (7, 8, 9)],
      dtype=[('a', '<i4'), ('b', '<i4'), ('c', '<i4')])

In [34]:
df2 = pd.DataFrame(data)
df2

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [36]:
df2.describe()

         a    b    c
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

In [37]:
df['Nombre']

0      Cesar
1      Areli
2    Claudia
3       Juan
4       Luis
Name: Nombre, dtype: object

In [38]:
df.iloc[0:2]

   Id Nombre       Tipo
0   1  Cesar  Americano
1   2  Areli      Latte